/*
	Documentacion de bootstrap: 
		https://getbootstrap.com/docs/3.3/css/#tables 
		http://howtodoinjava.com/spring/spring-restful/spring-restful-client-resttemplate-example/
*/

body{
/* 	background-color: red !important; */
}

*{
	border-radius: 0 !important;
}

.negrita{
	font-weight: bold;	
}

.mgs-container{
	position: fixed; 
	top:10px; 
	/*bottom: 10px;*/
	left:10px; 
	right:10px; 
	z-index: 2000;
}



